strong.time {
    margin-right: 1em;
}

.webinar-title {
    font-size: 1.2em;
    font-weight: bold;
}


h1, h2, h3 {
    margin-top: 1em;
}

span.checked {
    text-decoration: line-through;
}

li:has( span.checked)::after {
    content: " (prenotato)"
}

.detail {
    border-radius: 3px;
    background-color: rgb(248, 249, 250);
    padding: 1em;
}